.ntz-taxonomy-term-picker-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ntz-taxonomy-term-picker-wrapper > * {
  flex: 1 1 100%;
  position:relative;
}

.ntz-taxonomy-term-picker-wrapper > *:not(:first-child) {
  padding-left: 10px;
}


.ntz-taxonomy-term-picker-delete {
  position: absolute;
  right: 10px;
  top: 50%;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition:all  0.3s ease;
  display: none;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.ntz-taxonomy-term-picker-delete:hover {
  background: #c00;
  color: #fff;
}

:hover > .ntz-taxonomy-term-picker-delete {
  display: block;
}