.ntz-chained-select-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ntz-chained-select-wrapper > * {
  flex: 1 1 100%;
  position:relative;
  margin-bottom: 1em;
}

@media all and (max-width: 1199px) {
  .ntz-chained-select-wrapper {
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1200px) {
  .ntz-chained-select-wrapper > *:not(:first-child) {
    padding-left: 10px;
  }
}

.ntz-chained-select-delete {
  position: absolute;
  right: 10px;
  top: 50%;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition:all  0.3s ease;
  display: none;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.ntz-chained-select-delete:hover {
  background: #c00;
  color: #fff;
}

:hover > .ntz-chained-select-delete {
  display: block;
}
